.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  background-color: #3B4648;
  height: 100px;
  top: 0px;
}

.App-title {
  font-size: 60px;
  color: white;
}

.App-title:hover {
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.content {
  margin-top: 120px;
}

/*Plus sign to add post*/
.fa-plus {
  position: fixed;
  top: 25px;
  right: 36px;
  color: #AFC94E;
  z-index: 1000;
}

.page-title {
  color: #3B4648
}

/*Resort buttons*/
.each-resort-btn {
  margin-bottom: 10px;
  width: 330px;
  padding: 15px;
}

.btn-outline-info {
  color: #5FA5D6;
  border-color: #5FA5D6;
}

.btn-outline-info:hover {
  background-color: #5FA5D6;
  border-color: #5FA5D6;
}

.each-trail-btn {
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
}

.list-group {
  z-index: 1;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #979799;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #5FA5D6;
  padding: 2.5em 1.5em 0;
  font-size: 35px;
  z-index: 1000;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list > a {
  color: #AFC94E;
  padding: 30px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
